<p>Всего товаров: <%=Product.product_all_size %></p>
<p>Больше 0: <%= Product.product_qt_not_null_size %></p>
  <% file = "#{Rails.public_path}"+'/export_insales.csv'%>
  <% if File.file?(file) %>
    <% size = File.size(file) %>
    <p>Файл инсалес:
    <p>размер - <%= number_to_human_size(size)%>; дата - <%=File.ctime(file).in_time_zone('Moscow').strftime("%d/%m/%Y %H:%M" ) %></p>
    <p><%= link_to 'Скачать файл', "/export_insales.csv", class: 'dropdown-item' %></p>
    <p>
      <%= link_to 'Ошибки Update', "/errors_update.txt", class: 'dropdown-item' %>
    </p>
  <% end %>
