<div class="row mb-2 mr-0 ml-0 align-items-center" id="filter_menu">
  <h3 class="mr-2">Поставщик Faro</h3>
  <div class="col- mr-1">
    <div class="form-import">
      <%= form_tag import_faros_path, remote: true, multipart: true, class: "form_import" do %>
        <%= file_field_tag :file, class: "form-control-xs" %>
        <%= submit_tag "Import" , class:'btn btn-primary btn-sm form-control-xs', disabled: true %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 mr-1">
    <span class="align-middle"><small>Всего: <%= Faro.product_all_size %></small></span>
    <span class="align-middle"><small>Отфильтровано: <%=@faros.count%></small></span><br>
    <span class="align-middle"><small>Больше нуля: <%= Faro.where.not(quantity: 0).size %></small></span>
<!--    <span class="align-middle"><small>Синхронизируется: <%#= Product.where.not(abc: nil).size %></small></span>-->

  </div>
  <div class="col-">
    <div class="col- ">
      <div class="dropdown">
        <a class="btn btn-info dropdown-toggle form-control-xs" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действия
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "Редактировать цены",
                      price_edit_faros_path,
                      remote: true,
                      class: "dropdown-item form-control-xs",
                      id: "faro_price_edit_button",
                      data: {type: :js},
                      method: :post
          %>
        </div>
      </div>
    </div>
  </div>
    <%= search_form_for @search, html: {class: 'form-inline'}  do |f|%>
      <%= f.search_field :id_eq, placeholder: 'ID', class: "form-control form-control-xs"%>
      <%= f.search_field :title_or_sku_cont, placeholder: 'Название, Артикул', class: "form-control form-control-xs"%>
      <%= f.collection_select :brand_eq, Faro.all.order('brand ASC').map {|product| [product.brand, product.brand]}.uniq, :first, :last, {include_blank: "Бренд"}, class: "form-control form-control-xs" , style: "max-width: 150px;" %>
      <%= f.search_field :quantity_eq, placeholder: 'остаток', class: "form-control form-control-xs"%>
      <%#= f.collection_select :quantity_eq, [[0, 0], [10, 10]], :first, :last, {include_blank: "Остаток"}, class: "form-control form-control-xs", style: "width: 120px;" %>
      <div class="form-group ml-2 button_group">
        <%= f.search_field :price_gteq, placeholder: 'Цена от', class: "form-control form-control-xs mr-2"%>
        <%= f.search_field :price_lteq, placeholder: 'Цена до', class: "form-control form-control-xs"%>
      </div>

      <%= render 'shared/filtersync', f: f %>

      <div class="form-group ml-2 button_group">
        <% f.submit 'Поиск', class: 'btn btn-info' %>
        <%= button_tag(type: 'submit', :class => "btn btn-info form-control-xs") do %><span class="oi oi-magnifying-glass"></span><% end %>
        <%= link_to '<span class="oi oi-reload"></span>'.html_safe, faros_path, class: 'btn btn-outline-dark form-control-xs' %>
        <%= link_to '<span class="oi oi-list"></span>'.html_safe, faros_path(otchet_type: 'selected', q: @params_q_to_csv), title: "Создать файл с выбранными товарами", class: 'btn btn-outline-dark form-control-xs'%>
      </div>
    <% end %>
  </div>

<div class="table-responsive" id="container_for_table_with_data">
  <table class="table table-hover table-condensed table-sm">
    <thead class="thead-light">
    <tr>
      <th><%= check_box_tag 'selectAll', value = 'selectAll'%></th>
      <th>ID</th>
      <th>ID в Товарах</th>
      <th>Артикул</th>
      <th>Название</th>
      <th>Актуальность</th>
      <th><%= sort_link(@search, :quantity) %></th>
      <th><%= sort_link(@search, :price) %></th>
      <th><%= sort_link(@search, :purchase_price, 'Закупочная цена') %></th>
      <th>Бренд</th>
    </tr>
    </thead>

    <tbody id="products_table">
    <% @faros.each do |product| %>
      <tr class="<%= 'sync' if product.products.present? %>">
        <td><%=check_box_tag "product_ids[]", product.id%></td>
        <td><%= product.id %></td>
        <td>
          <% product.products.each do |product| %>
            <%= link_to product.id, products_path(q: {id_eq: product.id}) %>
          <% end %>
        </td>
        <td><%= product.sku %></td>
        <td><%= link_to product.title, product, target: '_blank' %></td>
        <td><%= product.check %></td>
        <td><%= best_in_place product, :quantity, :as => :input %></td>
        <td><%= best_in_place product, :price, :as => :input %></td>
        <td><%= product.purchase_price %></td>
        <td><%= product.brand %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="digg_pagination mt-4 mb-4">
  <%= will_paginate @faros %>
</div>


