<p>
  <strong>Название:</strong>
  <%= @faro.title %>
</p>

<p>
  <strong>Артикул:</strong>
  <%= @faro.sku %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @faro.price %>
</p>

<p>
  <strong>Цена закупки:</strong>
  <%= @faro.purchase_price %>
</p>

<p>
  <strong>Количество:</strong>
  <%= @faro.quantity %>
</p>

<p>
  <strong>Бренд:</strong>
  <%= @faro.brand %>
</p>

<p>
  <strong>Check:</strong>
  <%= @faro.check %>
</p>

<%= link_to 'Back', faros_path %>
