
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <row>
      <span class="col-md-5">
         Название: <strong><%= @product.title %></strong>
      </span>

      <span class="col-md-5">
        Артикул Товара в InSales: <strong><%= @product.sku %></strong>
      </span>

      <span class="col-md-5">
        ID в InSales: <strong><%= @product.insales_id %></strong>
      </span>
      <span class="col-md-5">
        ID Варианта в InSales: <strong><%= @product.insales_var_id %></strong>
      </span>

      <span class="col-md-5">
        <%= f.input :price, label: 'Цена продажи:' %>
      </span>
      <span class="col-md-4">
        <%= f.input :quantity, label: 'Остаток:' %>
      </span>
    </row>

<!--    # TODO NewDistributor-->
      <span class="col-md-3">
        <span class="editable">
          <%= f.input :abc_id, label: "ID у поставщика ABC" %>
        </span>
      </span>
<!--    # TODO NewDistributor ----  END  -->

    <span class="col-12">
      Описание: <%= @product.desc.truncate(300) %>
    </span>
    <span class="col-12">
      Категория: <strong><%= @product.cat %></strong>
    </span>

    <% if @product.url.present? %>
      <div class="col-md-2">
        <%= link_to 'Товар в InSales', @product.url , class: "d-flex align-items-center", target: 'blank' %>
      </div>
    <%end%>
  </div>

  <% if @product.image.present? %>
    <div class="row ml-0 mr-0">
      <% @product.image.split(' ').each do |pict| %>
        <div class="w-25">
          <img class="img-fluid img-thumbnail" src="<%= pict %>">
        </div>
      <% end %>
    </div>
  <%end%>

  <div class="form-actions mt-4">
    <%= f.button :submit , class: "btn btn-outline-success" %>
    <%= link_to 'Back', products_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>

